.root {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #444;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: #444;
    -fx-text-fill: white;
    -fx-prompt-text-fill: grey;
}

.table-view {
    -fx-background-color: #333;
    -fx-text-background-color: white;
    -fx-selection-bar: #555;
    -fx-selection-bar-text: white;
}
